.description {
    display: flex;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
}

.coding {
    width: 250px;
    height: 250px;
}

.text-description {
    font-size: 20px;
    font-style: italic;
    text-align: justify;
    padding-right: 50px;
    padding-top: 50px;
    color: #fff;
}

.title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 48px;
    background-color: #1f2937;
}

.jobs-info {
    background-color: #f9faf8;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.job-card {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    background-color: rgb(240, 236, 233);
    width: 50%;
    height: 100%;
    border-radius: 5px;
}

.right {
    margin-left: 30vw;
}

.left {
    margin-right: 30vw;
}

.job-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.txt-img {
    margin: 20px 16px;
    font-size: 20px;
}

.card-img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    height: 250px;
    width: 374.81px;
    border-radius: 5px 5px 0 0;
}