@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-align: justify;
}

.navbar-primary-container {
    display: flex;
    width: 50%;
    margin-left: 1.5%;
}

.nav-logo {
    height: 6vh;
    width: auto;
    color: white;
    justify-content: center;
    margin-top: -3%;
    box-shadow: 0px 0px 0px #fff;
    transition: ease 0.5s;
}

.nav-logo:hover {
    box-shadow: 0px 4px 1px -1px whitesmoke;
    cursor: pointer;
}

.primary-text {
    color: #f9faf8;
}

.secondary-text {
    color: #e5e7eb;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
}

header {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
}

header h1 {
    margin-left: 2%;
}

nav {
    width: 30%;
    margin-right: 1%;
    padding-bottom: 30px;
    margin-top: 0.5%;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

a {
    text-decoration: none;
}

nav a {
    font-size: 18px;
    transition: ease 0.5s;
}

nav a:hover {
    box-shadow: 0px 4px 1px -1px whitesmoke;
}


.description {
    display: flex;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 50px;
}

.coding {
    width: 250px;
    height: 250px;
}

.text-description {
    font-size: 20px;
    font-style: italic;
    text-align: justify;
    padding-right: 50px;
    padding-top: 50px;
    color: #fff;
}

.title {
    text-align: center;
    padding-top: 100px;
    font-size: 50px
}

.jobs-info {
    background-color: #f9faf8;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    padding: 100px 50px;
}

.job-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    background-color: rgb(240, 236, 233);
    width: 35vh;
    height: 50vh;
    border-radius: 5px;
}

.job-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.txt-img {
    padding: 2px 16px;
    font-size: 1.4vh;
}

.card-img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    height: 40%;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: center;
}

footer a {
    float: right;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px 10px;
    color: #e5e7eb;
}