.disabled-link {
    cursor: not-allowed;
    pointer-events: none;
}

.contactWrapper {
    display: flex;
    position: relative;
    height: 80vh;
    width: 100%;
    background-color: #fff;
}

.contact-header-container {
    background-color: #1f2937;
    color: white;
    height: 30%;
    width: 100%;
<<<<<<< Updated upstream
=======
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-top: 50px;
    z-index: 1;
=======
>>>>>>> 33674913a2522d170e6a3fe75d675b61b3488c70
>>>>>>> Stashed changes
}

.contact-header-container h2 {
    font-size: 48px;
    margin-left: 14%;
    margin-top: 70px;
<<<<<<< Updated upstream
=======
}

.imgTeam{
    width: 320px;
    height: 300px; 
    margin-top: 50px;
>>>>>>> Stashed changes
}

.contactDetails {
    position: absolute;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 55%;
    z-index: 2;
    top: 70px;
    left: 35%;
    background-color: #f9faf8;
    border: 1px solid #e5e7eb;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.inputWrapper {
    position: relative;
}

.contactInputs {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 50px;
}

.contactInputs input {
    border: #1f2937 1px solid;
    border-radius: 5px;
    background-color: #e5e7eb;
    height: 30px;
    width: 300px;
    color: black;
    margin-top: 20px;
    padding: 10px;
    font-size: 1rem;
    transition: border-color 0.3s,
}

.contactInputs input:focus {
    border: #3882F6 3px solid;
}

#message {
    height: 200px;
}

#message::placeholder {
    position: absolute;
    top: 10px;
    left: 15px;
}

.inputsBtn {
    margin-top: 15px;
    background-color: #3882F6;
    color: #f9faf8;
    height: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.contactInfoWrapper {
    padding-top: 30px;
    padding-left: 50px;
    margin: 50px;
    width: 40%;
}

.contactInfo {
    display: flex;
    margin: 25px;
    height: 40px;
    align-items: center;
    cursor: text;
}

.contactIcon {
    padding: 10px;
    width: 40px;
    height: 40px;
    border: none;
}

.contactInfo:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px) scale(1.1);
}

.socialMedia {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300px;
    background-color: inherit;
    margin-top: 50px;
    cursor: pointer;
}

.socialMediaIcon {
    width: 30px;
    height: 30px;
    border-radius: 20%;
    transition: all 0.3s ease;
}

.socialMediaIcon:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px) scale(1.3);
}