main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 82vh;
    background: linear-gradient(to bottom right, rgb(255, 255, 255) 0%, #1f2937 100%);
}

.btn-shadow:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-container {
    height: fit-content;
    background-color: #1f2937;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #074ce0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.form-container h2 {
    text-align: center;
    font-size: 32px;
    padding-bottom: 10px;
}

p {
    text-align: center;
    padding-bottom: 5px;
}

form input {
    width: 100%;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    margin: 10px 0;
}

a {
    color: #3882f6;
}

footer {
    color: #ffffff;
    text-align: center;
}