@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.primary-text {
    color: #f9faf8;
}

.secondary-text {
    color: #e5e7eb;
}

.list-style-none {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
}

header {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
}

nav {
    width: 30%;
    margin-right: 11%;
    padding-bottom: 30px;
    margin-top: 0.5%;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

a {
    text-decoration: none;
}

.text-black {
    color: #000;
}

nav a {
    font-size: 18px;
    transition: ease 0.5s;
}

nav a:hover {
    box-shadow: 0px 4px 1px -1px whitesmoke;
}

.navbar-logo-container {
    margin-left: 14%;
}

.nav-logo {
    height: 8vh;
    color: white;
    transition: ease 0.5s;
}

.nav-logo:hover {
    box-shadow: 0px 4px 1px -1px whitesmoke;
    cursor: pointer;
}

.hero-section {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}

.hero-header {
    font-size: 48px;
    font-weight: 800;
}

.hero-text-container {
    width: 50%;
    margin-left: 14%;
}

.hero-img-container {
    max-width: 50%;
    margin-right: 14%;
}

.hero-img {
    float: right;
}

.btn {
    color: #f9faf8;
    border: 1px solid #e5e7eb;
    background-color: #3882f6;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-shadow:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.team-section {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fff;
}

.team-header {
    text-align: center;
    font-size: 48px;
}

.team-card-container {
    display: flex;
    justify-content: center;
    width: 65%;
    margin: auto;
}

.team-card {
    width: 168px;
    height: auto;
    margin: 40px;
}

.member-img {
    width: 100%;
    border: 3px solid #3882f6;
    border-radius: 10px;
    margin-bottom: 5px;
}

#quote {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    background-color: #E5E7EB;
    padding-top: 50px;
    padding-bottom: 50px;
}


.quote-para {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 200;
    color: #1f2937;
    width: 50%;
    font-style: italic;
}

.staff {
    display: flex;
    padding: 50px 0;
    justify-content: center;
    font-size: 30px;
}

.quote-section {
    position: relative;
}

.quote-header {
    position: absolute;
    bottom: 20px;
    right: 25%;
}

.call-to-action {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #fff;
}

.call-to-action-txt {
    display: flex;
    justify-content: space-around;
    border: 1px solid #e5e7eb;
    background-color: #3882f6;
    width: 50%;
    border-radius: 5px;
    padding: 30px 20px;
    color: #ffffff;

}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: center;
}

footer a {
    float: right;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px 10px;
    color: #e5e7eb;
}

/* Dropdown Button */

.dropdown {
    position: relative;
    display: inline-block;
}

.account-btn {
    font-size: 18px;
    transition: ease 0.5s;
    background: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.dropdown-content a {
    font-size: 18px;
    transition: ease 0.5s;
    color: #e5e7eb;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}