@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-align: justify;
}

.navbar-primary-container {
    display: flex;
    width: 50%;
    margin-left: 1.5%;
}

.nav-logo {
    height: 8vh;
    width: auto;
    color: white;
    justify-content: center;
    margin-top: -3%;
    box-shadow: 0px 0px 0px #fff;
    transition: ease 0.5s;
}

.nav-logo:hover {
    box-shadow: 0px 4px 1px -1px whitesmoke;
    cursor: pointer;
}

.primary-text {
    color: #f9faf8;
}

.secondary-text {
    color: #e5e7eb;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
}

header {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
}

header h1 {
    margin-left: 2%;
}

nav {
    width: 100%;
    margin-right: 1%;
    padding-bottom: 30px;
    margin-top: 0.5%;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

a {
    text-decoration: none;
}

nav a {
    font-size: 18px;
    transition: ease 0.5s;
}

nav a:hover {
    box-shadow: 0px 4px 1px -1px whitesmoke;
}

.hero-section {
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: space-around;
}

.hero-img {
    max-width: 100%;
    height: auto;
}

.team-header {
    text-align: center;
    font-size: 48px;
    padding-bottom: 30px;
}


.team-image-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}


.members {
    height: 150px;
    width: 100%;
    border: 3px solid #074ce0;
    border-radius: 5px;
    margin-bottom: 20px;
}

.hero-header {
    font-size: 48px;
    font-weight: 800;
}

.team-section {
    background-color: #fff;
    padding-top: 50px;
}

#quote {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding-top: 50px;
    padding-bottom: 50px;
}


.quote-para {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 200;
    color: #1f2937;
    width: 50%;
    font-style: italic;
}

nav {
    width: 30%;
}

.btn {
    color: #f9faf8;
    border: 1px solid #e5e7eb;
    background-color: #3882f6;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-shadow:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.staff {
    display: flex;
    padding: 50px 0;
    justify-content: center;
    font-size: 30px;
}

.team-card {
    width: 35vh;
    height: 50vh;
}

.quote-section {
    position: relative;
}

.quote-header {
    position: absolute;
    bottom: 20px;
    right: 25%;
}

.call-to-action {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #fff;
}

.call-to-action-txt {
    display: flex;
    justify-content: space-around;
    border: 1px solid #e5e7eb;
    background-color: #3882f6;
    width: 50%;
    border-radius: 5px;
    padding: 30px 20px;
    color: #ffffff;

}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: center;
}

footer a {
    float: right;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px 10px;
    color: #e5e7eb;
}

/* Dropdown Button */

.dropdown {
    position: relative;
    display: inline-block;
}

.account-btn {
    font-size: 18px;
    transition: ease 0.5s;
    background: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    font-size: 18px;
    transition: ease 0.5s;
    color: #e5e7eb;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}